.title{
  font-size: 2rem;
  margin: 30px 0;
  position: relative;
  left: 100px; /* Ajusta la posición a la izquierda */
  top: 10px; /* Ajusta la posición hacia abajo */


}

.title span {
  color: #F3B95F; /* Cambia el color a #F3B95F para "Film" */
}

.title::after {
  color: white; /* Cambia el color a blanco para "ópolis" */
}