html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    width: 180px;
    height: 50px;
    background-color: darkkhaki;
}

h2 {
    color: darkkhaki;
}

p {
    font-weight: bold;
    font-style: italic;
}

input {
    width: 180px;
    height: 30px;
}

#cuentaRegresiva {
    border: 1px;
    border-color: red;
    border-style: solid;
    color: red;
}